*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    min-height: 100vh;
}

#noti__container {
    position: fixed;
    right: 10px;
    bottom: 0px;
    min-width: 10rem;
}

.toast{
    width: 100%;
    background: rebeccapurple;
    margin-bottom: 10px;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

#btn{
    background: rebeccapurple;
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
}